<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSCBliDdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AhEAgHJxspKCsqNTE7OEFAS0VYV1pZXltmZWhncG9ycXp0VX5uJGx12WwKCQwL
	Dg0QDxIRFBMWFRgXGhkQX2QQeWFVc3RubGl4RWlwZXJfcw8Qb2xrY2RldUJkbmVsRElX
	c25lRGR0YVlldHNyYUR0dGFWZWMkYWxzcxBfYRZhdmxpYmFlbHRTZXJtYW5pVGdtaVhl
	ZWZ0YXJ1c2UQX2kTTHNjb2VrT2RCbm51bGRJZXNEaVRmbhFvDycLgAqACIAggB6ADoCA
	CdYCHRwfHg0gIiEkIyYiYVp0dW9oTXJpYVpsdWFodHJvYU5lbWNaaWxuZU50bWFaZWxj
	ZWl0bmFNbGljW21vYXB5bmFOZW0EgAOABYAGgAOAB4BTWnJ0YWVhbWl4X2ElEHRocHQv
	Oncvd3dzLnJ0YWVhbWl4LmFvYy9tb2N0bmNhLXRzdV0vckZlZWVEZXZvbGVwX3IWEG9j
	dG5jYUB0dHNlcm1heGFhaWMubW8s0i4tWi9jJGFsc3NhbmVtJFhsY3NhZXNWc0dBbklv
	Zi6iWDBTTmJPZWp0YzLSMw1XNFNOdC5taSNlwEGqW5812bMJgCzSNi1WN1NOYURldDai
	0jANMjQ5QSMN1bpm2c+A7NIJDTw/PU5aLlNib2VqdGOhc4A+gAxfDRwQb2MubWVzYW5p
	cnNvaS5TT3lDZWJTcm9jZXBWVCzSQi1eQ1NOdU1hdGxiQWVycnlhQqMwRE5XQVNycnlh
	PNJGDaNKSEeASYAPgBWAGdYdTUxPTg1QUhlUU1ZVaVpTc2xlY2VldFNkZWtVeWl0bHRX
	ZWVkYXRsaVhzY2lub2FOZW2ACYAQgBGAEoATXxQZEEFrRkdhZXV0ZXJkQXBhaXRldmlC
	UnR0YV9lERBkQXBhaXRldkIgdGlSIHRhX2VOEGFNYW5lZ2EgdHVtb3RhY2lsYXlsdCBl
	aHMgcnRhZWltZ25iIHRpciBhdGUsIGFjY29yZGluZyB0byBhdmFpbGFibGUgYmFuZHdp
	ZHRoLl8QFGljb24tZmVhdHVyZS1kZWZhdWx00iwtXF1ZQUdGZWF0dXJlolww1kxNTk9Q
	DRlgYWJVVgmAFoAXgBiAE4AUXxAaa0FHRmVhdHVyZVNhdmVWaWRlb0xvY2FsbHlfEBJT
	YXZlIFZpZGVvIExvY2FsbHlfEDlUaGUgc3RyZWFtZWQgdmlkZW8gaXMgc2F2ZWQgb24g
	dGhlIGRldmljZSdzIGxvY2FsIG1lbW9yeS7WTE1OT1ANGWprbFVWCYAagBuAHIATgBRf
	EBRrQUdGZWF0dXJlVGFwVG9Gb2N1c1xUYXAgVG8gRm9jdXNfEClUYXAgdG8gZm9jdXMg
	dGhlIGNhbWVyYSBkdXJpbmcgc3RyZWFtaW5nLtIsLURzokQw03V2DXd4eV8QFG51bWJl
	ck9mSG91cnNBbGxvd2VkXWlzTGltaXRlZFRpbWUQAAiAH9IsLXt8XxAPQUdTdHJlYW1p
	bmdUaW1lon0wXxAPQUdTdHJlYW1pbmdUaW1l0iwtf4BdQUdDZXJ0aWZpY2F0ZaKBMF1B
	R0NlcnRpZmljYXRlXxAPTlNLZXllZEFyY2hpdmVy0YSFVHJvb3SAAQAIABEAGgAjAC0A
	MgA3AFsAYQB0AIcAmQChAKsAsgDLANQA6gDvAPIA9AD2APgA+gD8AP4A/wEBAQ4BGQEk
	AS8BOgFGAUgBSgFMAU4BUAFSAV0BhQGTAawBsQG8AcUBzAHPAdgB3QHlAe4B8AH1AfwB
	/wIEAg0CDwIUAh8CIQIjAiUCRAJJAlgCXAJkAmkCbQJvAnECcwJ1AoICjQKRApcCnwKo
	AqkCqwKtAq8CsQKzAs8C4wM0A0sDUANaA10DagNrA20DbwNxA3MDdQOSA6cD4wPwA/ED
	8wP1A/cD+QP7BBIEHwRLBFAEUwRaBHEEfwSBBIIEhASJBJsEngSwBLUEwwTGBNQE5gTp
	BO4AAAAAAAACAQAAAAAAAACGAAAAAAAAAAAAAAAAAAAE8A==
	</data>
	<key>kAGSignatureKey</key>
	<data>
	afYIbnAgbiK4YGA4pViqBtxXcLhCWplPtaeXqaWqxG8SE/M+koUUjE/cCRGQcacPYwMt
	vzqMqDGCX89ba3hF6e8qufLT9xVVojeoWTJ/ArbkyUvyBxuS3tNPovBG7+wZOqvDFgeu
	3vdtJjYTyF55Jgscc69+oVoWdJ9/okV5+Sg=
	</data>
	<key>kAGTokenKey</key>
	<data>
	qEWup21aTzK+L5NA0QR3CggigW7XyEtgSCQymHHX5uM=
	</data>
</dict>
</plist>
